@charset "UTF-8";
@keyframes ani-down-up {
  50% {
    top: 10px;
  }
}
@keyframes ani-down-up-rev {
  50% {
    top: -10px;
  }
}
@font-face {
  font-family: 'Laptev_Brush';
  src: url("laptev/Laptev_Brush.otf");
}
@font-face {
  font-family: 'fairy';
  src: url("FairyMuffinRoundPop/Fairymuffinroundpop.ttf");
}
@media (max-width: 1214px) {
  #body #spisok_razd, #body #spisok_razd-obs {
    grid-template-columns: repeat(7, 1fr);
  }
  #body .comments p {
    background-size: 30px;
  }
}
@media (max-width: 1192px) {
  #body .left-line {
    grid-column: 1/2;
    padding-left: 6px;
    padding-right: 6px;
  }
  #body .left-line p {
    display: none;
  }
  #body .left-line a {
    grid-template-columns: 100%;
  }
  #body .work_zone {
    grid-column: 2/14;
  }
  #body #spisok_razd, #body #spisok_razd-obs {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 1106px) {
  #body .Noti_menu {
    grid-template-columns: repeat(10, 1fr);
  }
  #body .Noti_menu div {
    font-size: 1.9vw;
  }
  #body .comments p {
    font-size: 1.6vw;
  }
}
@media (max-width: 1046px) {
  #body #spisok_razd, #body #spisok_razd-obs {
    grid-template-columns: repeat(7, 1fr);
  }
  #body .pole_vvoda {
    grid-template-columns: repeat(8, 1fr);
  }
  #body .pole_vvoda #text_maseje {
    grid-column: 2/8;
  }
}
@media (max-width: 1005px) {
  #body .dow {
    background-image: url("../sistem_image/but_down_little_wind.png");
  }
  #body .up {
    background-image: url("../sistem_image/but_up_little_wind.png");
  }
}
@media (max-width: 948px) {
  #body .comments p {
    font-size: 1.8vw;
  }
  #body li, #body ul {
    font-size: 3.4vw;
  }
  #body .move_lessons p {
    font-size: 3.5vw;
  }
}
@media (max-width: 932px) {
  #body .lovers {
    grid-template-columns: repeat(3, 1fr);
  }
  #body .lk_a, #body .blok_ld {
    font-size: 3.3vw;
  }
  #body .I_want_to_tall {
    font-size: 2.5vw;
  }
  #body #spisok_razd, #body #spisok_razd-obs {
    grid-template-columns: repeat(6, 1fr);
  }
  #body .pole_vvoda {
    grid-template-columns: repeat(7, 1fr);
  }
  #body .pole_vvoda #text_maseje {
    grid-column: 2/7;
  }
}
@media (max-width: 854px) {
  #body .Noti_menu {
    grid-template-columns: repeat(8, 1fr);
  }
  #body .Noti_menu div {
    font-size: 2.5vw;
  }
  #body .move_lessons {
    margin-left: -5%;
  }
  #body .move_lessons img {
    width: 120px;
  }
  #body .move_lessons .buggi {
    width: 100%;
  }
}
@media (max-width: 818px) {
  #body #spisok_razd, #body #spisok_razd-obs {
    grid-template-columns: repeat(5, 1fr);
  }
  #body .pole_vvoda {
    grid-template-columns: repeat(6, 1fr);
  }
  #body .pole_vvoda #text_maseje {
    grid-column: 2/6;
  }
  #body select {
    font-size: 2.5vw;
  }
  #body #itog_rnd, #body button {
    font-size: 3vw;
  }
}
@media (max-width: 730px) {
  #body .comments p {
    background-size: 25px;
  }
}
@media (max-width: 725px) {
  #body #gallery .ssilka {
    font-size: 2.5vw;
  }
  #body #gallery a {
    font-size: 3.4vw;
  }
  #body main {
    grid-template-columns: repeat(12, 1fr);
    padding-right: 0;
    grid-column-gap: 0;
  }
  #body .left-line {
    grid-column: 1/13;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }
  #body .left-line a {
    justify-items: center;
  }
  #body .work_zone {
    grid-column: 1/13;
    grid-column-gap: 0;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 50px;
    padding-right: 50px;
  }
  #body .dow {
    display: none;
  }
  #body .up {
    display: none;
  }
  #body #spisok_razd, #body #spisok_razd-obs {
    grid-template-columns: repeat(6, 1fr);
    overflow-y: auto;
  }
  #body #Who, #body #What_do {
    grid-column: 1/3;
    margin-right: 5px;
  }
  #body #What_color, #body #Where {
    grid-column: 3/5;
    margin-left: 5px;
  }
  #body #itog_rnd, #body button {
    grid-column: 1/5;
    font-size: 4vw;
  }
  #body select {
    font-size: 3.3vw;
  }
}
@media (max-width: 715px) {
  #body .i_tall_you {
    font-size: 3vw;
  }
  #body .lovers {
    grid-template-columns: repeat(2, 1fr);
  }
  #body .Noti_menu {
    grid-template-columns: repeat(6, 1fr);
  }
  #body .Noti_menu div {
    font-size: 3vw;
  }
}
@media (max-width: 634px) {
  #body .lk_a, #body .blok_ld {
    font-size: 4.5vw;
  }
  #body .name, #body .regestration {
    grid-column: 1/11;
  }
  #body .regestration {
    margin-top: 20px;
  }
  #body #gallery {
    height: 500px;
  }
  #body #gallery .mine, #body #gallery .your {
    width: 100%;
  }
  #body #gallery .ssilka {
    font-size: 3.5vw;
  }
  #body .comments p {
    font-size: 2.5vw;
  }
  #body #spisok_razd, #body #spisok_razd-obs {
    grid-template-columns: repeat(5, 1fr);
  }
  #body .pole_vvoda {
    grid-template-columns: repeat(5, 1fr);
  }
  #body .pole_vvoda #text_maseje {
    grid-column: 2/5;
  }
  #body footer {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0;
  }
  #body footer a {
    margin-right: 10px;
  }
}
@media (max-width: 540px) {
  #body .lovers {
    height: 200px;
  }
  #body #spisok_razd, #body #spisok_razd-obs {
    grid-template-columns: repeat(4, 1fr);
  }
  #body .Noti_menu {
    grid-template-columns: repeat(4, 1fr);
  }
  #body .Noti_menu div {
    font-size: 4vw;
  }
  #body .pole_vvoda {
    grid-template-columns: repeat(4, 1fr);
    height: 45px;
  }
  #body .pole_vvoda #text_maseje {
    grid-column: 2/4;
  }
  #body .move_lessons p {
    font-size: 6vw;
  }
  #body .move_lessons .I_want_to_tall {
    font-size: 4vw;
  }
  #body li, #body ul {
    font-size: 6vw;
  }
}
@media (max-device-width: 480px) {
  #body .i_tall_you {
    font-size: 3.6vw;
  }
  #body .move_lessons {
    padding-top: 85px;
    margin-left: -2%;
  }
  #body .move_lessons p {
    font-size: 6vw;
  }
  #body .move_lessons .I_want_to_tall {
    font-size: 4vw;
  }
  #body li, #body ul {
    font-size: 6vw;
  }
  #body .razw {
    height: 1600px;
  }
  #body .blok_ld {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0;
  }
  #body .lk_a, #body .blok_ld {
    font-size: 6vw;
  }
  #body .name, #body .regestration {
    grid-column: 1/5;
  }
  #body .regestration {
    margin-top: 20px;
    font-size: 5.4vw;
  }
  #body .lovers {
    grid-template-columns: repeat(2, 1fr);
    height: 550px;
  }
  #body footer {
    grid-template-columns: repeat(4, 1fr);
  }
  #body footer img {
    width: 200px;
  }
  #body header {
    grid-template-columns: repeat(4, 1fr);
  }
  #body header img {
    grid-column: 1/3;
    width: 200px;
  }
  #body header .Notification {
    width: 60px;
    height: 60px;
    font-size: 40pt;
    margin-left: 80px;
  }
  #body header .lk {
    height: 140px;
    font-size: 95pt;
  }
  #body .Noti_menu {
    grid-template-columns: repeat(4, 1fr);
    height: 500px;
  }
  #body .Noti_menu div {
    height: 460px;
    margin-bottom: 30px;
    font-size: 5vw;
  }
  #body .false_line {
    padding: 18px;
  }
  #body .button {
    height: 150px;
    width: 150px;
  }
  #body #gallery a {
    font-size: 3.4vw;
  }
  #body main {
    grid-template-columns: repeat(12, 1fr);
    padding-right: 0;
    grid-column-gap: 0;
  }
  #body .left-line {
    grid-column: 1/13;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    height: 160px;
  }
  #body .left-line a {
    justify-items: center;
  }
  #body .work_zone {
    grid-column: 1/13;
    grid-column-gap: 0;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 50px;
    padding-right: 50px;
  }
  #body #gallery {
    height: 1350px;
  }
  #body #gallery .your, #body #gallery .mine {
    width: 100%;
  }
  #body #gallery .your a, #body #gallery .mine a {
    font-size: 4.5vw;
  }
  #body #gallery .your .ssilka, #body #gallery .mine .ssilka {
    font-size: 4vw;
  }
  #body #gallery .comments p {
    font-size: 4vw;
    background-size: 65px;
    text-indent: 70px;
  }
  #body .pole_vvoda {
    grid-template-columns: repeat(4, 1fr);
    height: 130px;
    grid-column-gap: 0;
  }
  #body .pole_vvoda #text_maseje {
    grid-column: 2/4;
    font-size: 60pt;
  }
  #body .dow {
    display: none;
  }
  #body .up {
    display: none;
  }
  #body #spisok_razd {
    grid-template-columns: repeat(5, 1fr);
    overflow-y: auto;
    height: 150px;
  }
  #body #spisok_razd-obs {
    height: 1700px;
    grid-template-columns: repeat(5, 1fr);
    overflow-y: auto;
  }
  #body .I_want_to_tall {
    font-size: 1.5vw;
  }
  #body .dis_bl {
    height: 90px;
  }
  #body .dis_bl input {
    font-size: 40pt;
  }
  #body #Who, #body #What_do {
    grid-column: 1/3;
    margin-right: 5px;
  }
  #body #What_color, #body #Where {
    grid-column: 3/5;
    margin-left: 5px;
  }
  #body #itog_rnd, #body button {
    grid-column: 1/5;
    font-size: 5vw;
    height: 230px;
  }
  #body select {
    font-size: 3.5vw;
    height: 90px;
  }
  #body #itog_rnd {
    padding-top: 50px;
  }
  #body option {
    width: 250px;
    font-size: 2vw;
  }
  #body button {
    margin-bottom: 500px;
  }
}
body {
  margin: 0;
  font-family: 'Laptev_Brush';
  font-weight: 30pt;
}

.grid_blocks {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-left: 50px;
  padding-right: 50px;
  grid-column-gap: 20px;
}

header {
  background-color: #f2dfcf;
}
header img {
  grid-column: 1/11;
}
header .button {
  box-shadow: -4px 4px 10px 0px #83664c;
  margin-top: 15px;
}
header .button:hover {
  box-shadow: inset -2px 4px 5px 0px #ffffff, -4px 4px 10px 0px #83664c;
}
header .lk {
  height: 60px;
  font-size: 40pt;
}

footer {
  background-color: #83664c;
}
footer img {
  grid-column: 12/13;
}
footer .button {
  box-shadow: -4px 4px 10px 0px #f2dfcf;
  margin-top: 20px;
}
footer .button:hover {
  box-shadow: inset -2px 4px 5px 0px #ffffff, -4px 4px 10px 0px #f2dfcf;
}

.Noti_menu {
  height: 220px;
  background: linear-gradient(to right, #c0a388 20%, #f2dfcf 80%);
  border-bottom: 2px solid #83664c;
  z-Index: 1;
  position: absolute;
  overflow-x: auto;
  transition-duration: 0.5s;
  transform-origin: top;
}
.Noti_menu div {
  grid-column-end: span 2;
  font-size: 1.5vw;
  font-family: 'Laptev_Brush';
  border: 2px solid #83664c;
  border-radius: 5px;
  height: 200px;
  box-shadow: -4px 4px 10px 0px #83664c;
  padding: 6px;
  margin-bottom: 10px;
}

.false_line {
  padding: 10px;
  background: linear-gradient(to right, #c0a388 20%, #f2dfcf 80%);
}

main {
  background: radial-gradient(at top, #FEFFFF, #daf5ff);
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  padding-right: 50px;
  grid-column-gap: 20px;
}

.left-line {
  grid-column: 1/4;
  background-color: #C2A388;
}
.left-line a {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  height: 70px;
  font-family: 'fairy';
  text-decoration: none;
  font-size: 16pt;
}
.left-line a p {
  padding-top: 2px;
  grid-column: 2/4;
  color: #83664c;
  text-align: center;
}
.left-line a:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px #83664c;
  text-shadow: 1px 2px 4px #ffffff;
}
.left-line a:hover .button {
  box-shadow: inset -2px 4px 5px 0px #ffffff;
}

.work_zone {
  font-family: 'fairy';
  grid-column: 4/14;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 20px;
  padding-top: 50px;
  font-size: 30pt;
  color: #1b4a4b;
}

#spisok_razd, #spisok_razd-obs {
  height: 70px;
  grid-column: 1/9;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 1fr);
  grid-column-gap: 20px;
  background-color: #69a7a7;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 30px;
  margin-bottom: 20px;
  justify-items: center;
}
#spisok_razd .button:hover, #spisok_razd-obs .button:hover {
  z-index: 1;
}

#spisok_razd-obs {
  height: 1200px;
  grid-column: 1/13;
}

.button {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  background-color: #1b4a4b;
  background-size: cover;
  font-family: "fairy";
  color: #e2fbff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  box-shadow: inset -2px 4px 5px 0px #ffffff;
}

.active {
  background-color: #83664c;
}

.Notification {
  /*пришедшее уведомление*/
  font-family: 'Laptev_Brush';
  border-radius: 100%;
  text-align: center;
  color: white;
  width: 18px;
  height: 18px;
  background-color: #1b4a4b;
  margin-left: 43px;
  margin-top: 10px;
  box-shadow: -4px 4px 10px 0px #83664c;
}

.dow {
  background-image: url("../sistem_image/but_down.png");
}

.up {
  background-image: url("../sistem_image/but_up.png");
}

.up, .dow {
  position: relative;
  top: 0;
  height: 75px;
  background-size: cover;
}

.up:hover, .dow:hover {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.dow:hover {
  animation-name: ani-down-up;
}

.up:hover {
  animation-name: ani-down-up-rev;
}

/*Рабочая зона. общее*/
/*Личный кабинет*/
.blok_ld {
  font-size: 2.5vw;
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 20px;
  border-top: 5px solid #83664c;
  border-bottom: 5px solid #83664c;
  padding-top: 20px;
  padding-bottom: 20px;
}
.blok_ld .name {
  grid-column: 1/5;
}
.blok_ld .regestration {
  grid-column: 5/11;
}

.lk_a {
  grid-column: 1/11;
  margin-bottom: 0;
  margin-top: 50px;
  font-size: 2.5vw;
}

.lovers {
  padding: 10px;
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: auto;
  grid-gap: 10px;
  height: 250px;
  border: 2px solid #83664c;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  align-items: center;
  background-color: #f2dfcf;
}
.lovers .img_pst {
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  border: 2px solid #C2A388;
  border-radius: 4px;
}
.lovers .img_pst img {
  margin: 0;
  width: 100%;
  visibility: hidden;
}

/*Ищу идею*/
select {
  grid-column-end: span 5;
  margin-bottom: 20px;
  height: 50px;
  font-family: 'fairy';
  font-size: 1.5vw;
  border-radius: 10px;
  color: #83664c;
}

#Who, #Where {
  margin-top: 50px;
}

#itog_rnd {
  grid-column: 1/11;
  height: 80px;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 30px;
  font-size: 2vw;
  border-top: 5px solid #83664c;
  border-bottom: 5px solid #83664c;
}

button {
  grid-column: 2/10;
  height: 80px;
  margin-bottom: 60px;
  border-radius: 20px;
  background-color: #69a7a7;
  border: 2px solid #1b4a4b;
  font-family: 'fairy';
  font-size: 1.8vw;
  color: #1b4a4b;
}

button:hover {
  box-shadow: inset -2px 4px 5px 0px #ffffff, inset 2px -4px 5px 0px #1b4a4b;
}

option {
  background-color: #f2dfcf;
  font-family: 'Laptev_Brush';
  color: #83664c;
}

.i_tall_you {
  grid-column: 1/11;
  font-size: 1.8vw;
  margin-bottom: 20px;
}

/*Уроки*/
.razw {
  grid-column: 1/11;
  height: 1100px;
  color: #83664c;
  text-align: center;
}
.razw li {
  color: #1b4a4b;
  text-align: left;
}

ul {
  list-style: none;
}

li, ul {
  margin: 10px;
  font-size: 2.5vw;
}

.zero:hover {
  text-shadow: 2px 2px 4px #69a7a7;
  cursor: pointer;
}
.zero:hover .one {
  text-shadow: none;
}
.zero:hover .one:hover {
  text-shadow: 2px 2px 4px #69a7a7;
  cursor: pointer;
}

.move_lessons {
  position: fixed;
  top: 0;
  left: 16%;
  z-index: 1;
  overflow-y: auto;
  border: 2px solid #1b4a4b;
  background-color: #f2dfcf;
  width: 70%;
  height: 92%;
  box-shadow: 0px 0px 1500px 80px #1b4a4b;
  padding: 30px;
  transition-duration: 0.5s;
  transform-origin: top;
}
.move_lessons p, .move_lessons a {
  margin-top: 80px;
  color: #83664c;
  font-family: 'Laptev_Brush';
  text-shadow: none;
}
.move_lessons p {
  font-size: 2.5vw;
}
.move_lessons img {
  width: 185px;
  border-radius: 20px;
}
.move_lessons .lefti {
  float: right;
}
.move_lessons .righti {
  float: left;
  margin-right: 10px;
}
.move_lessons .I_want_to_tall {
  font-family: 'fairy';
  margin-left: 10px;
}
.move_lessons .buggi {
  width: 100%;
}
.move_lessons .finish {
  width: 50%;
  margin-left: 20%;
}

#less_back {
  position: fixed;
  z-index: 3;
  left: 17%;
  top: 20px;
  background-color: #83664c;
  background-image: url("../sistem_image/exit.png");
}

hr {
  height: 4px;
  background-color: #83664c;
}

/*Лисья нора*/
#gallery {
  height: 600px;
  overflow-y: auto;
  border: 4px solid #69a7a7;
  grid-column: 1/11;
  padding-bottom: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#gallery .mine, #gallery .your {
  background-color: white;
  width: 40%;
  margin-top: 10px;
  border: 2px solid #69a7a7;
  border-radius: 5px;
  padding-bottom: 0;
  font-size: 2vw;
  max-width: 60%;
}

.pole_vvoda {
  height: 60px;
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 20px;
  border: 4px solid #69a7a7;
  border-top: none;
  background-color: white;
}
.pole_vvoda div:hover {
  box-shadow: inset 2px -4px 5px 0 #1b4a4b, inset -2px 4px 5px 0 white;
}
.pole_vvoda div {
  border-left: 2px solid #69a7a7;
  border-right: 2px solid #69a7a7;
}
.pole_vvoda input {
  font-family: 'fairy';
  border: none;
  border-left: 2px solid #69a7a7;
  border-right: 2px solid #69a7a7;
  grid-column: 2/10;
  font-size: 25pt;
  color: #1b4a4b;
}

.I_want_to_tall {
  grid-column: 1/11;
  margin-bottom: 10px;
  font-size: 1.6vw;
}

.mine {
  padding: 10px;
  margin-right: 20px;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}
.mine a {
  grid-column: 1/4;
}
.mine .ssilka {
  grid-column: 1/5;
}
.mine .delited {
  grid-column-end: 5;
}
.mine .comments, .mine .img_pst {
  grid-column: 1/5;
  background-repeat: no-repeat;
  background-size: contain;
}

.your {
  padding: 10px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}
.your a {
  grid-column: 1/5;
}
.your .img_pst {
  grid-column: 1/5;
  background-repeat: no-repeat;
  background-size: contain;
}
.your .dis_bl {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  height: 60px;
}
.your .dis_bl input {
  grid-column: 1/4;
  font-size: 25pt;
  font-family: 'fairy';
  color: #1b4a4b;
  border: 2px solid #69a7a7;
}

.comments {
  margin-bottom: 10px;
  max-height: 130px;
  overflow-y: auto;
  border: 2px solid #83664c;
  background-color: #f2dfcf;
  padding-left: 7px;
}
.comments p {
  background-image: url("../sistem_image/coment_logo.png");
  background-size: 35px;
  background-repeat: no-repeat;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 1.3vw;
  text-indent: 38px;
  border-bottom: 2px solid #C2A388;
  padding-bottom: 3px;
}

.ssilka {
  color: #1b4a4b;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #1b4a4b;
  background-color: #e2fbff;
}

.ssilka:hover {
  box-shadow: inset 2px -4px 5px 0 #1b4a4b, inset -2px 4px 5px 0 white;
}

.dise_vvod {
  border: 2px solid #69a7a7;
  background-size: cover;
}

.dislike {
  border: 2px solid #83664c;
  background-color: #C2A388;
  background-image: url("../sistem_image/dislike.png");
}

.like {
  border: 2px solid #69a7a7;
  background-image: url("../sistem_image/like.png");
}

.delited {
  background-color: #f2dfcf;
  background-image: url("../sistem_image/box.png");
  border: 2px solid #C2A388;
  background-size: cover;
}

#your_files {
  display: none;
}

.like-dis_block {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  bottom: 20px;
  justify-content: right;
  grid-gap: 3%;
}

#spisok_razd::-webkit-scrollbar, .lovers::-webkit-scrollbar, #gallery::-webkit-scrollbar, .move_lessons::-webkit-scrollbar, .comments::-webkit-scrollbar, .Noti_menu::-webkit-scrollbar {
  width: 0;
}

/*# sourceMappingURL=other_ssas.css.map */
